body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.al-splash {
  max-width: 100%;
}

.al-card {
  display: flex;
  align-items: center;
  max-width: 100%;
  /* border: 1px solid #ddd; */
  margin: 10px;
  padding: 5px;
  font-weight: 900;
  text-transform: uppercase;
  height: 50px;
  /* width: 250px; */
}

.al-card .al-group {
  background-color: #000;
  color: #fff;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(-180deg);
  overflow: hidden;
  height: 100%;
}

.al-card .al-content {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.al-logo {
  position: fixed;
  top: 250px;
  background-color: #000;
  width: 100%;
  height: 1px;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.al-color-pink {
  background-color: #ff21b3;
}

.al-color-green-light {
  background-color: #00ff00;
}
.al-color-blue {
  background-color: #0062f9;
}

.al-color-yellow {
  background-color: #fff200;
}

.al-color-brown {
  background-color: #dba621;
}
